@font-face {
    font-family: Brand;
    src: url('../../fonts/FungkaCity-Regular.woff2') format('woff2'),
        url('../../fonts/FungkaCity-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.hero{
    height: 100vh;
    background: url("./hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay{
    padding: 25px;
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay > div{
    padding: 5px;
    display: flex;
}

.overlay p{
    color: var(--accent);
    font-family: Brand;
    padding: 3px;
}

.brand-text{
    padding: 5px;
}

.brand-text p{
    font-size: clamp(4rem, 10vmax, 8rem);
    line-height: 0.85;
    text-transform: uppercase;
    border-bottom: 1px solid var(--accent);
}

.brand-text-alt{
    font-size: 3rem;
    border: 1px solid #b1373b;
    text-align: center;
    align-self: flex-start;
    max-width: 6ch;
    flex-shrink: 1;
}

.info{
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.info > img{
    max-width: 400px;
    width: 100%;
    border-radius: 50%;
}

.info-text{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.banner{
    padding: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
}
